body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.top_section {
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 200px;

}

.top_section h1 {
    font-size: 50px;
}

.top_section p {
    width: 90%;
}

.donate_btn {
    margin-top: 80px;
}

.top_section a {
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    border-radius: 5px;
    padding: 10px 20px;
}

.today_donate {
    text-align: center;
    padding: 80px;
}

span {
    margin: 100px;
    text-align: center;
    padding: 10px;
    background-color: #00ffff2e;
    font-size: 20px;
}

#border {

    border: 1px solid red;
}

.amount {
    margin-top: 50px;
    padding-bottom: 20px;

}

.beshi_na {
    margin-top: 21px;
}

.beshi_na a {
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    border-radius: 5px;
    padding: 10px 20px;
}